<div class="container" fxLayoutAlign="center center">
  <div *ngIf="posts && posts.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let p of posts">
        <a href="" (click)="selectPost(p.id); $event.preventDefault()">{{ p.title }}</a>
        <button (click)="selectPost(p.id)">VOIR</button>
      </mat-list-item>
    </mat-list>
  </div>

  <p *ngIf="posts && posts.length == 0">
    Aucun article pour cet utilisateur.
  </p>

  <div *ngIf="!posts">
    <mat-spinner></mat-spinner>
    <p class="mat-h4">Chargement...</p>
  </div>
</div>
